// Colors
$black: #161616;
$white: #ffffff;
$bronze: #cd7f32;

// Functional colors
$functional: (
	yellow: #ffca3a,
	green: #62a24b,
	blue: #667eea,
	red: #ea667e,
	purple: #604ba2
);

// Grey
$grey: (
	light: #dedede,
	medium: #7c7c7c,
	dark: #4f4f4f
);


// Brand colors

// Social colors

// Fonts
$font: 'Nunito', sans-serif;
// $font: 'Montserrat', sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;
$fa: "FontAwesome";